* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: san;
}
.container {
	width: 1170px;
	margin: 0 auto;
}

.hero {
	background-image: url(./image/Layer\ 21\ 1.png );
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*height: 100vh;*/
	padding-top: 548px;
	padding-bottom: 145px;
}
.hero-title {
font-size: 48px;
font-weight: 700;
line-height: 58px;
color: white;
margin-bottom: 16px;
text-transform: uppercase;
}
.hero-subtitle {
font-size: 18px;
font-weight: 400;
line-height: 22px;
color:#FFFFFF;
margin-bottom: 22px;
}
.hero-slogan {
font-size: 54px;
font-weight: 700;
line-height: 65px;
color:#FFFFFF;
text-transform: uppercase;
border: 1px solid white;
padding: 38px 31px;
background-color: rgb(0, 0, 0, 0.5);
width: max-content;
}

.hero-slogan span {
	margin-right: 50px;
}